@import '../../node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-up(md) {
  .btn-frequency {
    color: green;
    border-color: goldenrod;
  }
}

.jumbotron-question {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .container {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
